#NODE_ENV="development"
NODE_ENV="production"
TELEGRAM_SESSION=
TELEGRAM_API_ID=123123
TELEGRAM_API_HASH="123123"
DISCORD_BOT_TOKEN="ads123"
CMC_API_KEY="123-123"
DISCORD_COMMAND_WHITELIST="123123"
POLLING_INTERVAL_MIN="5"
POLLING_FETCH_LIMIT="50"